SCPSL_API_TOKEN=your_scpsl_api_token
SCPSL_ACCOUNT_ID=your_scpsl_account_id
DISCORD_BOT_TOKEN_1=your_discord_bot_token_1
DISCORD_BOT_TOKEN_2=your_discord_bot_token_2
DISCORD_BOT_TOKEN_3=your_discord_bot_token_3
DISCORD_BOT_TOKEN_4=your_discord_bot_token_4
DISCORD_BOT_TOKEN_5=your_discord_bot_token_5
DISCORD_BOT_TOKEN_6=your_discord_bot_token_6
